<?xml version="1.0"?>
<config>
    <modules>
        <Hellux_Slider>
            <version>0.1.0</version>
        </Hellux_Slider>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <hellux_slider before="Mage_Adminhtml">Hellux_Slider_Adminhtml</hellux_slider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <hellux_slider>
                <class>Hellux_Slider_Model</class>
                <resourceModel>hellux_slider_resource</resourceModel>
            </hellux_slider>
            <hellux_slider_resource>
                <class>Hellux_Slider_Model_Resource</class>
                <entities>
                    <slider>
                        <table>hellux_slider_slider</table>
                    </slider>
                    <items>
                        <table>hellux_slider_items</table>
                    </items>
                </entities>
            </hellux_slider_resource>
        </models>
        <blocks>
            <hellux_slider>
                <class>Hellux_Slider_Block</class>
            </hellux_slider>
        </blocks>
        <helpers>
            <hellux_slider>
                <class>Hellux_Slider_Helper</class>
            </hellux_slider>
        </helpers>
        <resources>
            <hellux_slider_setup>
                <setup>
                    <module>Hellux_Slider</module>
                </setup>
            </hellux_slider_setup>
        </resources>
    </global>
</config>